body {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;/*使得容器的高度和浏览器窗口的高度一致。*/
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sun {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: orange;/*太阳*/
    border-radius: 50%;
}

.moon {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + -160px), calc(-50% + -180px));
    width: 600px;
    height: 600px;
    box-shadow: 160px 180px 0 cyan;/*月亮*/
    border-radius: 50%;
}

.sea {/*海洋*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    backdrop-filter: blur(100px);/*高斯模糊,毛玻璃效果（也称为背景模糊）*/
    -webkit-backdrop-filter: blur(100px);
    z-index: 100;
}

.sun,
.moon,
.sun-box,
.moon-box,
.bg {
    transition: all 1s ease-in-out;/*ease-in-out：表示过渡效果的速度曲线，即动画开始时速度较慢，中间加速，结束时再次减速。这种速度曲线可以创建一种平滑且自然的过渡效果。*/
}

.sun-box,
.moon-box {
    position: relative;
    overflow: hidden;
}

.light .sun-box {
    height: 100%;
}

.light .moon-box {
    height: 0;
}

.light .bg {
    background-color: #ffeea2;
}

.dark .sun-box {
    height: 0;
}

.dark .moon-box {
    height: 100%;
}

.dark .bg {
    background-color: #040720;
}

.btn-box {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 101;
    display: flex;
    flex-direction: row;
}

.btn-box div {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;/*圆角*/
    cursor: pointer;/*手指*/
}

.btn-box div:hover {
    background: #fff;
}